openapi: 3.0.3
info:
  title: Coresignal Multi-source Company Collect Search API
  version: '2.0'
  description: The Multi-source Company API returns enriched company records combining public web data sources, deduplicated and standardized with 500+ fields. Search uses Elasticsearch DSL queries; Collect returns full records by ID. Authentication uses the apikey HTTP header.
  contact:
    name: Coresignal Support
    url: https://coresignal.com/contact/
  license:
    name: Proprietary
    url: https://coresignal.com/terms-and-conditions/
servers:
- url: https://api.coresignal.com/cdapi/v2/multi_source_company
  description: Coresignal Multi-source Company API production server
security:
- apiKey: []
tags:
- name: Search
  description: Search and filter company records.
paths:
  /search/filter:
    post:
      operationId: searchCompaniesByFilter
      summary: Search Companies (filter)
      description: Search company records using a structured filter object. Returns matching record IDs.
      tags:
      - Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyFilter'
      responses:
        '200':
          description: Array of matching company record IDs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int64
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/CreditsExhausted'
        '429':
          $ref: '#/components/responses/RateLimited'
  /search/es_dsl:
    post:
      operationId: searchCompaniesByEsDsl
      summary: Search Companies (Elasticsearch DSL)
      description: Search company records using a full Elasticsearch DSL query body.
      tags:
      - Search
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Elasticsearch DSL query object
      responses:
        '200':
          description: Array of matching company record IDs
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int64
components:
  schemas:
    CompanyFilter:
      type: object
      properties:
        name:
          type: string
        industry:
          type: string
        size:
          type: string
        country:
          type: string
        region:
          type: string
        founded_from:
          type: integer
        founded_to:
          type: integer
        employees_count_from:
          type: integer
        employees_count_to:
          type: integer
        technologies:
          type: array
          items:
            type: string
  responses:
    RateLimited:
      description: Rate limit exceeded
    CreditsExhausted:
      description: API credits exhausted for the account
    Unauthorized:
      description: Missing or invalid apikey header
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: apikey
