openapi: 3.0.3
info:
  title: Coresignal Multi-source Company Collect API
  version: '2.0'
  description: The Multi-source Company API returns enriched company records combining public web data sources, deduplicated and standardized with 500+ fields. Search uses Elasticsearch DSL queries; Collect returns full records by ID. Authentication uses the apikey HTTP header.
  contact:
    name: Coresignal Support
    url: https://coresignal.com/contact/
  license:
    name: Proprietary
    url: https://coresignal.com/terms-and-conditions/
servers:
- url: https://api.coresignal.com/cdapi/v2/multi_source_company
  description: Coresignal Multi-source Company API production server
security:
- apiKey: []
tags:
- name: Collect
  description: Retrieve full company records by ID.
paths:
  /collect/{id}:
    get:
      operationId: collectCompany
      summary: Collect a Company record
      description: Retrieve the full company record for the given ID.
      tags:
      - Collect
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: Coresignal internal company ID
      responses:
        '200':
          description: Full company record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '404':
          description: Company not found
        '401':
          $ref: '#/components/responses/Unauthorized'
  /bulk_collect:
    post:
      operationId: bulkCollectCompanies
      summary: Bulk Collect Companies
      description: Retrieve multiple full company records by an array of IDs.
      tags:
      - Collect
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: integer
                    format: int64
      responses:
        '200':
          description: Array of company records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
components:
  schemas:
    Company:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        website:
          type: string
          format: uri
        domain:
          type: string
        industry:
          type: string
        type:
          type: string
        founded:
          type: integer
        size:
          type: string
        employees_count:
          type: integer
        followers_count:
          type: integer
        description:
          type: string
        headquarters:
          type: string
        country:
          type: string
        region:
          type: string
        locality:
          type: string
        specialities:
          type: array
          items:
            type: string
        technologies:
          type: array
          items:
            type: string
        funding_total_amount:
          type: number
        last_funding_round:
          type: object
        linkedin_url:
          type: string
        twitter_url:
          type: string
        facebook_url:
          type: string
        crunchbase_url:
          type: string
        last_updated:
          type: string
          format: date-time
  responses:
    Unauthorized:
      description: Missing or invalid apikey header
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: apikey
